/*-------------------*\
        PLANO
\*-------------------*/
.plano{
    padding: 10px;
    border: 1px solid    #95a4a5;

    font-size: 1.4rem;
}

.plano__cabecalho{
    margin: -10px;
    margin-bottom: 0px;

    background-color: #95a4a5;
    color: #ffffff;

    text-align: center;
    line-height: 2.5;
    font-weight: normal;
    font-size: 2em;
}

.plano__preco{
    margin: 20px 0px;

    text-align: center;
    font-size: 2em;
}

.plano__caracteristica{
    padding: 0px;
    margin: 20px 0px;

    font-size: 1em;

    list-style: none;
}

.plano__caracteristica > li{
    text-align: center;
}

.plano__rodape{
    text-align: center;
}

/*-------------------*\
        BOTÃO
\*-------------------*/
.botao{
    display: inline-block;
    padding: 0.8em 1.2em;

    background-color: #bbbbbb;
    color: #ffffff;

    text-decoration: none;
}

/*seletor de pseudo classe*/
.botao:hover, .botao:focus{
    background-color: #aaaaaa;
    color: #ffffff;

    text-decoration: none;
}

.botao--assinar{
    background-color:#127d00 ;
}

/* A pseudo-classe :hover corresponde quando o usuário designa um elemento com um dispositivo apontador, mas não necessariamente o ativa.*/
.botao--assinar:hover, .botao--assinar:focus{
    background-color: #0e6400;
}